name: Test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    name: Ruby ${{ matrix.ruby-version }}
    strategy:
      matrix:
        ruby-version:
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - uses: qltysh/qlty-action/install@v2
      - run: bundle exec rake
      - name: Format coverage
        run: qlty coverage transform coverage/.resultset.json --output 'codeclimate-${{ matrix.ruby-version }}.jsonl'
      - uses: actions/upload-artifact@v6
        with:
          name: coverages-ruby-${{ matrix.ruby-version }}
          path: codeclimate-${{ matrix.ruby-version }}.jsonl
  upload-coverage:
    permissions:
      id-token: write
    runs-on: ubuntu-24.04
    if: always()
    needs: test
    steps:
      - name: Check test matrix status
        if: ${{ needs.test.result != 'success' }}
        run: exit 1
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          pattern: coverages-*
          merge-multiple: true
      - uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: codeclimate-*.jsonl
          skip-errors: false
